/* nếu có nhiều thẻ h1 thì ta thêm atribute id từng thẻ h1 */
/* #n1 {
  color: rgb(62, 62, 231);
  font-size: 20px;
}
#n2 {
  color: rgb(223, 17, 17);
  font-size: 20px;
}
.no1 {
  color: rgb(62, 236, 27);
} */
:root {
  --textColor: blue;
}
h1 {
  color: var(--textColor);
}
